<?xml version="1.0" encoding="UTF-8"?>
<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<web-app>
	<display-name>UplApp</display-name>
	<welcome-file-list>
	<welcome-file>upload.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UplApp</servlet-name>
		<servlet-class>com.aj.servlet.UplServlet</servlet-class>
		<!-- <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>location</param-value>
		</init-param> -->
	<!-- 	<load-on-startup>1</load-on-startup> -->
	</servlet>

	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>UplApp</servlet-name>
		<url-pattern>/uplurl</url-pattern>
	</servlet-mapping>
	</web-app>
	